.nav-bar {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 1117px;
  align-items: center;
  gap: 24px;
  position: relative;
  background-color: #121212;
}

.nav-bar .div {
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-bar .top-section {
  display: flex;
  flex-direction: column;
  height: 254px;
  align-items: flex-start;
  gap: 34px;
  padding: 40px 60px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #424242;
}

.nav-bar .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.nav-bar .text-wrapper {
  position: relative;
  align-self: stretch;
  height: 66px;
  margin-top: -1.00px;
  font-family: "Gain-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-bar .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Gain-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-teal);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-bar .notifications {
  display: flex;
  align-items: center;
  gap: 102px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.nav-bar .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Gain-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-gray);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-bar .number {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #cecece33;
  border-radius: 4px;
}

.nav-bar .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Gain-Regular", Helvetica;
  font-weight: 400;
  color: #9d9d9d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-bar .frame-2 {
  align-items: center;
  gap: 557px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-bar .frame-3 {
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-bar .navbar-button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #29d2c933;
  border-left-width: 2px;
  border-left-style: solid;
  border-color: #29d2c9;
}

.nav-bar .iconex-light-home {
  position: relative;
  width: 24px;
  height: 24px;
}

.nav-bar .text-wrapper-5 {
  position: relative;
  width: 65px;
  margin-top: -2.00px;
  font-family: "Gain-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-bar .navbar-button-2 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.nav-bar .img {
  position: relative;
  width: 28.5px;
  height: 30.25px;
  margin-bottom: -2.25px;
  margin-left: -2.25px;
}

.nav-bar .bottom-section {
  display: flex;
  flex-direction: column;
  width: 262px;
  align-items: flex-start;
  gap: 535px;
  position: relative;
  flex: 0 0 auto;
}

.nav-bar .action-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.nav-bar .create-event-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #29d2c9;
  border-radius: 10px;
}

.nav-bar .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Gain-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-bar .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.nav-bar .name {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.nav-bar .image {
  position: relative;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.nav-bar .frame-4 {
  width: 92px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-bar .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Gain-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-bar .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  font-family: "Gain-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-gray);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-bar .edit {
  display: inline-flex;
  align-items: center;
  gap: 3.92px;
  position: relative;
  flex: 0 0 auto;
}

.nav-bar .ellipse {
  position: relative;
  width: 7.05px;
  height: 7.05px;
  background-color: #ffffff;
  border-radius: 3.53px;
}
